* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
}

input {
    border: solid 1px #dedede;
    border-radius: 3px;
    padding: 5px;
}

td {
    text-align: center;
}

button {
    border: solid 1px  rgb(0, 0, 0, 0);
    background-color: rgb(65, 65, 255);
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
    margin: 10px;
    outline: none;
}

button:hover {
    background-color: rgb(65, 255, 208);
}